.main {
    height: 100vh;
    box-sizing: border-box;
}

.login-box {
    width: 400px;
    border: solid 2px;
    padding: 30px;
    border-radius: 30px;
}

form div {
    margin-bottom: 15px;
}

.sidebar {
    background-color: #8cc2ff;
    color: black;
    height: 100vh;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px;
}

.card-content {
    border: solid 1px;
    border-radius: 10px;
    padding: 20px 30px;
    color: white;
}